.navbar__main--menu {
    display: flex;
    background: var(--secondary-background);
    border-bottom: solid 2.5px var(--primary);
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: sticky;
    top: 0;
}

.navbar__main--menu__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar__main--menu__logo--container img {
    width: 12rem;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.navbar__main--menu__link--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.navbar__main--menu__link {
    font-size: 1.25rem;
    font-weight: 600;
}

.navbar__main--menu__right {
    margin-left: auto;
}

.navbar__cart--container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2.5px solid var(--primary);
    cursor: pointer;
    transition: .5s ease-in-out;
    border-radius: .5rem;
}

.navbar__cart--container svg {
    height: 2rem;
    width: auto;
    margin: auto;
    padding-right: 1rem;
    padding-left: .25rem;
}

.navbar__cart--container p {
    background: var(--primary);
    color: var(--background);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    padding: .5rem;
    transition: .5s ease-in-out;
}

.navbar__cart--container svg path {
    transition: .5s ease-in-out;
}

.navbar__cart--container:hover {
    border: 2.5px solid var(--accent);
}

.navbar__cart--container:hover > p {
    background: var(--accent);
}

.navbar__cart--container:hover > svg path {
    stroke: var(--accent);
}

.navbar__hamburger--container {
    display: none;
}

.navbar__small--menu {
    display: none;
}

@media (max-width: 900px) {
    .navbar__main--menu {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .navbar__main--menu__left {
        width: 100%;
        display: block;
    }

    .navbar__main--menu__link--container {
        display: none;
    }

    .navbar__cart--container {
        display: none;
    }

    .navbar__hamburger--container {
        display: block;
    }

    .navbar__hamburger--container svg {
        height: 4rem;
        cursor: pointer;
        width: auto;
    }

    .navbar__hamburger--container svg path {
        stroke: var(--primary);
        transition: .5s;
    }

    .navbar__hamburger--container:hover > svg path {
        stroke: var(--accent);
    }

    .navbar__hidden {
        display: none;
    }
    
    .navbar__shown {
        display: block;
    }

    .navbar__small--menu {
        background: var(--primary);
    }

    .navbar__small--link__container {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 95%;
        margin: auto;
    }

    .navbar__small--link {
        color: var(--secondary-background);
        font-size: 2rem;
        padding: 1rem;
        width: 95%;
        border-bottom: 2.5px solid var(--secondary-background);
        font-weight: 600;
    }

    .navbar__small--link:hover {
        background: var(--secondary);
        border-bottom: 2.5px solid var(--secondary);
    }

    .navbar__cart--link {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 1rem;
        width: 95%;
        border-bottom: 2.5px solid var(--secondary-background);
        transition: .5s;
    }

    .navbar__cart--link:hover {
        background: var(--secondary)
    }

    .navbar__cart--subcontainer {
        width: 100%;
        margin: auto;
    }

    .navbar__cart--subcontainer h3 {
        text-align: left;
        color: var(--secondary-background);
        font-size: 2rem;
        font-weight: 600;
    }

    .navbar__cart--subcontainer svg {
        height: 3rem;
    }

    .navbar__cart--subcontainer svg path {
        stroke: var(--secondary-background)
    }

    .navbar__cart--subcontainer p {
        color: var(--secondary-background);
        font-size: 2rem;
        text-align: right;
    }
}

@media (max-width: 750px) {
    .navbar__hamburger--container svg {
        height: 3rem;
    }
}